
/* 
mystyle3.css used by test158.ex
*/

@define-color sky #87ceeb;
@define-color grass #00cd66;

#mainwin {
	background-image:
	-gtk-gradient (linear, 
		left top, left bottom,
		from(@sky), to(@grass));
}	

GtkWindow GtkLabel#moo {
	color: yellow;
	box-shadow: inset 10px 10px 10px alpha(black,0.5);
	text-shadow: 3px 3px blue;
}

GtkWindow GtkLabel#docs { 
	font-size: 8pt;	
	margin: 10px;
	padding: 10px;
}

GtkButton {
	background-image: none;
	background-color: #E3E9F0;	
	transition: 500ms ease-in-out;
	}


