/* 
-- ====================================================================
-- Styling for the remote display is set here;
-- ====================================================================
*/  

button {width: 100%;}
button.dir {background-color: skyblue;}
button.html {background-color: orange;}

body {background-image: linear-gradient(180deg, yellow, blue); background-repeat: no-repeat;)
