
body {margin-right: 10px; margin-left: 10px;}

h3 {color: blue;}
img {margin-right: 10px;}
p.small {font-size: small; font-style: italic;}

em {color: red;}
em.kw {color: blue;}
em.gtk {color: magenta; }
em.str {color: green;}
em.black {color: black;}
em.blue {color: blue;}
em.green {color: green;}
em.brown {color: brown; font-style: normal;}
em.orange {color: orange;}
em.rb {color: black; background-color: red;}
em.yb {color: black; background-color: yellow;}
em.hi {background:#FFFFE0;}

button {margin-bottom: 5px; background-color: #A6F583;}
.x {background-color: #A6F583;}

figure {background-color: #EFEFEB;}

table {margin: 10px;}
th {background-color: #FCFAC7;}
tr.note {background-color: yellow;}
tr.subtitle {font-size: smaller;}
tr:nth-child(odd) {background-color: #eeeeee;}

td {
  padding-left: 10px; 
  padding-right: 10px; 
  font-size: smaller;
  }

td.eucode {background-color: #F2F9FA;}
td.emphasis {background-color: #FBF00A;}
td.note {background-color: yellow;}
td.ba {background-color: cyan;}
td.bb {background-color: skyblue;}
td.bc {background-color: #A3FCA3;}
td.y {background-color: yellow;}

ol li {margin-bottom: 10px;}
ul li {margin-bottom: 5px;}
ul.small {font-size: small;}
ol.small {font-size: small;}

dfn {font-size: small; color: blue;}
dd {font-size: smaller;}

nav {background:#B0E2FF; padding:3px;}

div.hdr {
	display: block; 
	padding:3px; 
	border:none; 
	background: #80E2FF; 
	color:yellow; 
	font-weight: bold;
	font-style: italic;
	text-shadow: 2px 2px 0px #0000CD;
	}

div.hint {
	display: block; 
	border: thin solid black; 
	padding: 8px; 
	font-size: small;
        border-radius: 20px; 
	margin-left: 20px; 
	margin-right: 20px; 
	background-color: #D9F9E4;
	}

div.quote {
	display: block; 
	border: 1px dashed black; 
	padding: 5px; 
	background: #F0F0F0; 
	margin: 5px;
	}    

div.scrn {
	display: block; 
	border: 2px solid green; 
	padding: 4px; 
	font-size: 12pt; 
        color: #00FF00; 
	background-color: black; 
	width: 100%;
	}

div.urgent {
	display: block;
	border: 4px dashed red;
	padding: 4px;
	margin: 4px;
	font-size: 12pt;
	color: red;
}
	
img {margin-left: 5px; margin-bottom: 5px;}
img.x {margin:0px;}

figure {margin-left: 2px; margin-bottom: 2px;}
figcaption {background-color: #F2F2F2;}  
footer {font-size: smaller;}

button {
  background: #cff;
  background:-webkit-gradient(linear, left top, left bottom, from(#dff), to(#68c));
  background:--moz-linear-gradient(top, #dff,#68c);
  background:linear-gradient(left top, #dff, #68c);
  filter:progid:DXImageTransform.Microsort.Gradient(
    startColorstr='#dofofo', endColorstr='#6080c0');
 }

button:hover {
  background: #abe;
  background:-webkit-gradient(linear, left top, left bottom, to(#fff), from(#68c));
  background:--moz-linear-gradient(top, #68c,#fff);
  background:linear-gradient(left top, #68c, #fff);
  filter:progid:DXImageTransform.Microsort.Gradient(
   endColorstr='#fofofo', startColorstr='#6080c0');
 }

button:active {
  background: #ffa;
  background:-webkit-gradient(linear, left top, left bottom, to(#fff), from(#ffa));
  background:--moz-linear-gradient(top, #ffa,#fff);
  background:linear-gradient(left top, #ffa, #fff);
  filter:progid:DXImageTransform.Microsort.Gradient(
   endColorstr='#fofofo', startColorstr='#f0afa0');
}

.boxshadow {
    -moz-box-shadow : #888888 4px 4px 6px;
    -webkit-box-shadow: $888888 4px 4px 6px;
    box-shadow: #888888 4px 4px 6px;
    filter: progid:DXImageTransform.Microsoft.Shadow (color='#888888', Direction=135, Strength=6);
}

div.quote { border: solid 1px;}

.L20 {margin-left:20px;}
.R20 {margin-right:20px;}
.L20R {margin-left:20px; margin-right:20px;}

.alpha {
  top:100%;
  margin-top:-46px;
  position:fixed;
  background-color: white;
  border: 1pt solid black;
  border-radius:10px;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  }

.trans {
  opacity:0.7;
  }
  
.star:before {
  font-family: Courier;
  content:'\2730 ';
  color:red;
  }
 
button {cursor: pointer;}



